In [5]:
# !pip install requests

In [6]:
# !pip install bs4

In [89]:
from bs4 import BeautifulSoup

In [90]:
import requests

In [91]:
url = requests.get('https://www.imdb.com/chart/top/')
# To track error if website incorrect
url.raise_for_status()

In [92]:
soup = BeautifulSoup(url.text,"html.parser")

In [93]:
# Look for thead of the table from inspect
movies = soup.find('tbody',class_="lister-list").find_all('tr')

In [94]:
#Double check if all 250 tr are located
len(movies)

250

In [95]:
import requests
import pandas as pd

In [98]:
# excel = openpyxl.Workbook()
# sheet = excel.active
# sheet.title = 'Top Rated Movies'
# sheet.append(['Movie_Rank','Movie_Name','Year_of_Release','IMDB_rating'])

IMDB = []
for movie in movies:
    name = movie.find('td',class_="titleColumn").a.text
    rank = movie.find('td',class_="titleColumn").get_text(strip=True).split('.')[0]
    year = movie.find('td',class_="titleColumn").span.text.strip("()")
    rating = movie.find('td',class_="ratingColumn").strong.text
    
    IMDB.append([rank,name,year,rating])

In [100]:
df = pd.DataFrame(IMDB,columns=['Movie_Rank','Movie_Name','Year_of_Release','IMDB_rating'])

In [103]:
df = df.set_index('Movie_Rank')

In [104]:
df

                          Movie_Name Year_of_Release IMDB_rating
Movie_Rank
1           The Shawshank Redemption            1994         9.2
2                      The Godfather            1972         9.2
3                    The Dark Knight            2008         9.0
4              The Godfather Part II            1974         9.0
5                       12 Angry Men            1957         9.0
...                              ...             ...         ...
246                      Dersu Uzala            1975         8.0
247                         The Help            2011         8.0
248                          Aladdin            1992         8.0
249                           Gandhi            1982         8.0
250               Dances with Wolves            1990         8.0

[250 rows x 3 columns]

In [106]:
df.to_csv('IMDB_Movie_Ratings.csv')